SERIAL 0 115200
UI vesamenu.c32
MENU TITLE Mainstream OS
MENU BACKGROUND splash.png

MENU WIDTH 78
MENU MARGIN 4
MENU ROWS 7
MENU VSHIFT 10
MENU TABMSGROW 14
MENU CMDLINEROW 14
MENU HELPMSGROW 16
MENU HELPMSGENDROW 29

# Refer to https://wiki.syslinux.org/wiki/index.php/Comboot/menu.c32

MENU COLOR border       30;44   #4018a0be #a0191a1f std
MENU COLOR title        1;36;44 #ff18a0be #a0191a1f std
MENU COLOR sel          7;37;40 #ffece9e3 #4018a0be all
MENU COLOR unsel        37;44   #c0c9ccd4 #a0191a1f std
MENU COLOR help         37;40   #c09397a0 #a0191a1f std
MENU COLOR timeout_msg  37;40   #809397a0 #00000000 std
MENU COLOR timeout      1;37;40 #ffc9ccd4 #00000000 std
MENU COLOR msg07        37;40   #90c9ccd4 #a0191a1f std
MENU COLOR tabmsg       31;40   #3018a0be #00000000 std

MENU CLEAR
MENU IMMEDIATE
